/* fit the image to page view port */
.carousel-item img {
  max-height: 80vh;
  width: auto;
  margin: 0 auto;
  /* Center the images horizontally */
  display: block;
  object-fit: contain;
  /* Maintain aspect ratio of images */
}

/*header */
.navbar-brand {
  font-size: xx-large;
}

.nav-item {
  font-size: x-large;
}

/* Sticky footer */
.footer {
  padding: 20px 0;
  margin-top: auto;
  /* Margin-top set to auto to push footer to bottom */
}

/*fix arrows*/
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 1rem;
  height: 1.25rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: white;
  opacity: 0.2;
  width: 1.25rem;
  height: 1.5rem;
  border-radius: 10%;
  top: 50%;
  transform: translateY(-50%);
}

/*pick font*/
body {
  font-family: 'Cormorant Garamond', serif;

  /*Sticky responsive footer*/
  min-height: 100vh;
  /* Set minimum height of the body to 100% viewport height */
  display: flex;
  flex-direction: column;
}

/*instagram icon resize*/
.fa-instagram {
  font-size: large;
}


/*single page app*/
/* Hide bio section by default */
#bioSection {
  p {
    font-size: x-large;
  }
}


/*adjust the image size*/
.profile-img {
  max-width: 100%;
  height: auto;
}

/*style the menu*/
#navSection {
  text-align: center;
}

/* carosuel fade transition*/
.carousel-item {
  transition: transform 0.1s;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 0.1s;
}

@media (max-width: 991.98px) {

  /* fix menu styling for mobile */
  .navbar-toggler.collapsed .close-icon {
    display: none;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
  }

  .navbar-collapse {
    position: fixed;
    top: 80px;
    /* Height of the navbar-brand */
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    /* Background color of the menu */
    z-index: 1000;
    padding-top: 60px;
    /* Space for the navbar brand */
  }

  .navbar-toggler,
  .navbar-toggler:focus {
    box-shadow: none !important;
    border: none;
    color: black;
  }

  .carousel-item img {
    height: 100%;
    width: 100%;
  }

  .carousel-item {
    height: 55vh;
  }

  .navbar {
    padding: 5vw;
  }
}